body {
    text-align: center;
}

h1 {
    border: 7px dotted rgb(169, 169, 28);
    margin: 30px;
    display: inline-block; 
    padding: 10px;
}

img {
    width: 700px;
    border: 10px double black;
    display: block;
    margin: 20px auto; /
}

